html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --primary: #36c5f0;
  --secondary: #e55b72;
  --tertiary: #f2ca7a;
  --quaternary: #68c294;
  --neutral: #414042;
  --neutral-lighten-1: #58595b;
  --neutral-lighten-2: #8c8c8c;
  --dark: #000000;
  --light: #ffffff;
  --dimmed: #fafafa;
  --border-color: #eaeaea;
}
